@media screen and (min-width: 1024px) and (orientation: landscape) {
    .contact {
        display: grid;
        grid-template: 2fr / 2fr auto;
        grid-gap: 1vw;

        font-size: 2vw;
        text-align: unset;
        line-height: 3.5vw;
        
        h4 {

            &::after {
                margin-top: 1rem; /* desktop */
                margin-top: 1.6vw; /*responsive? */
                margin-top: 3vh;
                margin-top: 2%;
            }
        }
        section#contactPhone {
            grid-column: 1 / 2;

            ul {
                li {
                    a {

                    }
                    span {

                    }
                }
            }

        }
        section#contactIM {
            grid-column: 2 / 3;
        }
        section#contactSocial {
            grid-column: 1 / 3;

            ul {
                width: 100%;

                display: flex inline;
                justify-content: space-around;
                flex-wrap: nowrap;

                li {
                    width: unset;

                    display: flex inline;
                    flex-direction: column;

                    /*border: 1px solid #ffffff;*/
                    background-color: transparent;

                    a {
                        margin: unset;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: unset;

                        border-radius: 15px;
                        font-size: 1.5vw;
                        transition: 0.5s linear all;

                        &:hover {
                            background: #054b62;
                            background: #096888;
                        }

                        &:focus,
                        &:active {
                            background: #054b62;
                        }

                        span {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            min-width: unset;
                            width: fit-content;
                            border-radius: 15px;
                            background-color: transparent;

                            &.socialName {
                                display: none;
                            }
                            &.url {
                                display: none;
                            }
                            i {
                                font-size: 6em;
                                font-size: 6vw;
                            }
                        }
                    }
                }
            }
        }
    }
}