.contact {
    font-size: 5vw;    
    line-height: 12vw;
    text-align: right;

    h4 {
        display: flex;
        margin-top: 3vh;
        margin-bottom: 3vh;
        &::after {
            content: "";
            flex: 1;
            margin-left: 1rem;
            margin-top: 1.3rem; /* mobile */
            margin-top: 2.6vh;
            margin-top: 7%;
            height: 3px;
            background-color: #FFFFFF;
            padding-right: 30px;
        }
    }
    section#contactPhone {
        ul {
            margin-left: -40px;
            list-style: none;
            li {
                a {

                }
                span {

                }
            }
        }

    }
    section#contactIM {

    }
    section#contactSocial {
        ul {
            margin-left: -40px;
            width: 100%;

            display: flex inline;
            justify-content: space-around;
            flex-wrap: wrap;
            
            list-style: none;
            li {
                width: 44vw;
                width: 50%;
                width: 70%;
                
                display: flex inline;
                flex-direction: column;

                /*border: 1px solid #ffffff;*/
                background-color: transparent;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 15px;
                    font-size: 3.5vw;
                    font-size: 4.5vw;
                    transition: 0.5s linear all;
                    margin: 5px;
                    justify-content: space-evenly;

                    &:hover {
                        background: #054b62;
                        background: #096888;
                        text-decoration: none;
                    }
                    &:focus,
                    &:active {
                        background: #054b62;
                        text-decoration: none;
                    }

                    span {
                        
                    }
                }
            }
        }
    }
}