main {
    padding: 6vw;
    padding-top: 2vh;
    min-height: 62vh;
    height: auto;
}
i {
    /*border: 2px solid #ffffff;*/
    padding: 1px;
    border-radius: 6px;
    line-height: unset !important;
    margin: 2px;
}
.other-color {
    background-color: #096888;
}
.contact {
    font-family: 'Raleway';
    font-family: 'JosefinSans';
    font-size: 5vw; /* mobile */
    color: #FFFFFF;
    /* for mobile */
    line-height: 12vw;
    text-align: right;

    ul {
        list-style: none;
        margin-left: -40px;
    }
    span.label {
        display: block;
        text-align: left;
        font-family: "Raleway";
        img { 
            width: 29px;
            filter: invert(); 
            padding: 6px;
        }
    }
    a {
        text-decoration: none;
        font-weight: 600;
        /* for mobile */
        padding: 2vw;
        background-color: #cadee5;
        background-color: #096888;
        border-radius: 10px;
        color: black;
        color: #006182;
        color: #cadee5;
        span {
            display: none;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    h4 {
        display: flex;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    h4::after {
        content: "";
        flex: 1;
        margin-left: 1rem;
        margin-top: 1.3rem; /* mobile */
        margin-top: 2.6vh;
        margin-top: 7%;
        height: 3px;
        background-color: #FFFFFF;
        padding-right: 30px;
    }
}

#contactSocial {
        ul {
            width: 100%;
            display: flex inline;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                display: flex inline;
                flex-direction: column;
                width: 44vw;
                width: 50%;
                width: 70%;

                /*border: 1px solid #ffffff;*/
                background-color: transparent;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 15px;
                    font-size: 3.5vw;
                    font-size: 4.5vw;
                    transition: 0.5s linear all;
                    margin: 5px;
                    justify-content: space-evenly;
                    &:hover {
                        background: #054b62;
                        background: #096888;
                        text-decoration: none;
                    }
                    &:focus,
                    &:active {
                        background: #054b62;
                        text-decoration: none;
                    }
                    span {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: unset;
                        width: fit-content;
                        border-radius: 15px;
                        background-color: transparent;

                        i {
                            font-size: 6em;
                            font-size: 6vw;
                        }
                    }
                    span.socialName {
                        display: none;
                    }
                    span.url {
                        display: none;
                    }
                }
            }
        }
}
