.contact {

    span.label {
        
        img { 
            width: 29px;
            filter: invert(); 
            padding: 6px;
        }
    }
    a {
        
        span {
            display: none;
        }
    }

    
}
