@media screen and (min-width: 1024px) and (orientation: landscape) {
    .contact {
        
        
        h4 {
            /*display: none;*/
        }
        section {
        }
        section#contactPhone {
            
        }
        section#contactIM {
            
        }
        section#contactSocial {
            
        }
        ul {
            li {
                background-color: #054b62;
                border-radius: 15px;
                margin: 10px;
                display: flex;
                align-items: center;
                /*line-height: 2.5vw;*/
            }
        }
        a  {
            padding: 3px;
            padding: 18px;
            background: unset;
            color: #FFFFFF;
            /*border-bottom: 1px dotted #FFFFFF;*/
            border-radius: 0px;

            &:hover {
            text-decoration: none;
            /*border-bottom-style: solid;*/
            background: linear-gradient(to right, #096888 5%, #054b62 100%);
            padding: 18px;
        }
        }
        span.label {
            display: inline-flex;
            text-align: unset;
            background-color: #096888;
            border-radius: 15px 0 0 15px;
            padding: 15px;
            min-width: 23%;
            justify-content: space-between;
            img {
                aspect-ratio: 1 / 1;
                align-self: center;
            }
        }
        
        h4::after {
            
        }
    }
    #contactSocialOld {
        display: none;
    }
    #contactSocial {
        ul {
            
            li {
                

                a {
                    
                    &:hover {
                        
                    }
                    &:focus,
                    &:active {
                        
                    }
                    span {
                        

                        i {
                            
                        }
                    }
                    span.socialName {
                        
                    }
                    span.url {
                        
                    }
                }
            }
        }
    }
}