@import "portfolio-desktop.css";

.portfolio {
    section.webdesign {
        item {
            min-width: unset;
            /*font-size: 1vw;*/
            div {
                padding-right: 0;
                justify-content: space-between;
                font-size: 0.8em;
                line-height: 1;
                desc {
                    display: none;
                }
            }
        }
    }    
}
/*}*/