.information {
    font-size: 2.4vw !important;
    font-size: clamp( 19px, 2.4vw, 2.4vw) !important;
}
.project {
    /*
    text-align: center;
    font-family: "Montserrat";
    text-shadow: none;
    color: #2c2c2c;
    */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    opacity: 0;

    width: 88vw;
    margin: 0 6vw 0 6vw;

    .card {
        background-color: rgba(255,255,255,1);
        background-color: #cadee5;
        /*background-color: #006182;*/
        background-color: #054b62;
        color: #ffffff;
        width: 300px;
        height: 350px;
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.4);
        box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.1);
        margin: 10px;
        transition: all 0.3s ease-in-out;
        padding: 30px;
        margin: 0 auto;
    
        height: calc(350px / 2);
        height: 130px;
        height: 13vh;
        width: 330px; /*alternative widht */
        width: 400px;
        width: 20.84vw;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        border-radius: 20px;
        font-size: 1rem;

        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        width: 65vw;
        width: 71vw;
        /*height: 24vh;
        height: 22vh;*/
        min-height: 219px;
        /*max-height: 219px;*/
        /*height: clamp(219px, 24vh, 400px);*/

        &:hover,
        .cardSelected {
            transform: scale(1.1);
            /*transition: all 1s ease-in-out;
            height: 350px;
            height: 51vh;
            height: 54vh;
            height: 55vw;
            height: clamp(420px, 37vh, 420px);
            max-height: unset;*/
            box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.7);
            /*background-color: #cadee5;
            color: #111111;*/

            animation: openCard linear 2s;
            animation-fill-mode: forwards;
        }
        &:hover a.cardLink {
            color: #ffffff;
            transition: all 1s ease-in-out;
        }
        &:hover a.cardLink:hover {
            color: #000000;
            transition: all 1s ease-in-out;
        }
        .preview {
            /*border: 1px solid green;*/
            height: 50%;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            /*padding-bottom: 15px;*/
            margin: -30px;
            min-height: calc(350px / 2);
            min-height: 150px;
            min-height: 173px;
            min-height: 23vh;
            min-height: 207px;
            transition: all 1s ease-in-out;
        
            display: flex;
            align-items: center;
            background-color: #cadee5;
            a {
                margin-left: auto;
                margin: auto;
                img {
                    /*width: 80%; */
                    /*padding: 15px;*/
                    margin: auto;
                    display: block;
                    /*height: 15%;*/
                    /*border: 1px solid red;*/
                    width: 100%;
                }
                a:hover {
                    background-color: transparent;
                }
            }
        }
        .content {
            /*border: 1px solid red;*/
            height: 50%;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 30px;
        }
        a.cardLink {
            color: #ffffff;
            width: 70px;
            width: max-content;
            padding: 10px;
            margin-left: 16vw;
            margin-top: 10px;
            text-decoration: none;
            border-radius: 6px;
            align-self: flex-end;
        }
        &:hover a {
            color: #000000;
            transition: all 0.3s ease-in-out;
        }
        a.cardLink:hover,
        a.cardLink:focus,
        a.cardLink:active {
            background-color: #0087b4;
        }
    }

    .cardOpened {
    /*height: 46vh;*/
}
   
}
.projectVisible {
    opacity: 1;
    animation: fadeIn linear 2s;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    from {
    opacity: 0;
    display: none;
    /*width: 0px;*/
    }
    to {
    opacity: 1;
    display: unset;
    /*width: 100%;*/
    }
}

@keyframes openCard {
    from {
        height: 219px;
        min-height: 219px;
        max-height: 219px;
    }
    to {
        height: 420px;
        min-height: unset;
        max-height: 420px;
    }
}