.project {
    justify-content: space-around;
    & .card {
        min-height: 380px;
        margin: 5px;
        .content {
            padding-top: 2.5vw;
            font-size: 1.6vw;
        }
        a.cardLink {
            font-size: 1.5vw;
        }
    }
}