header {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;;
  text-align: center;
  /*border: 1px solid red;*/
}
.logoGroup {
    display: flex;
    padding: 15px;
    width: 96%;
    flex: 1;
    font-family: "Comfortaa";
    font-size: 100%;
    text-align: center;
    position: relative;
    .logoTextLabel {
      padding: 5px;
      border-radius: 10px;
      background-color: var(--fg-color);
      color: #006182 !important;
      /* to show on drawer */
      z-index: 101;
    }
    .logoText {
      display: unset;
      color: var(--fg-color);
      font-size: 3em;
      font-weight: 500;
    }
    .logoSeparator {
      display: none;
      padding: 5px;
      color: var(--fg-color);
      font-size: 3em;
      font-weight: 500;
    }
    .logoHomeText {
      padding: 5px;
      padding-left: 0;
      flex-grow: 3;
      align-content: center;
      color: var(--fg-color);
      /*font-size: 2em;*/
      font-size: 3em;
      font-weight: 500;
    }
}

.spacer {
  display: none;
}

#nav-burger img {
  height: 28px;
  padding-top: 4vh;
  padding-bottom: 4vh;
  filter: invert();
}
#nav-burger {
  display: block !important;
  position: static;
  align-content: center;
  padding: 12px;
  color: var(--fg-color);
  font-size: 2.5em;
  /*border: 1px solid green;*/
}
#nav-ics {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  max-height: fit-content;
  max-width: fit-content;
  font-size: 8vw;
  font-size: clamp(6vw, 8vw, 50px);
  aspect-ratio: 1 / 1;
}

nav,
nav > ul > li {
  padding: 0px;
  background-color: rgba(0,98,130,0.9) !important;
  div, hr { display: none;}
  a {
    font-family: "Raleway";
    font-size: 2.5em;
    font-weight: bold;
    text-transform: lowercase;
  }
  a:hover,
  a:focus,
  a:active {
      background-color: var(--fg-color);
      color: #006182;
  }
}