@import "../css/home-logo-experiment.css" screen;


header {
  display: flex;
  margin: 4vh auto !important;
  padding-left: 6vw;
  padding-right: 6vw;
  text-align: center;
  /*border: 1px solid red;*/
}

.logoGroup {
  display: flex;
  padding: 15px;
  width: 40vw;
  font-family: "Comfortaa";
  font-size: 1vw;
  .logoTextLabel {
    padding: 5px;
    border-radius: 10px;
    background-color: #cadee5;
    color: #006182 !important;
    align-content: center;
  }
  .logoText {
    color: #cadee5;
    font-size: 3em;
    font-weight: 500;
  }
  .logoSeparator {
    padding: 5px;
    color: #cadee5;
    font-size: 3em;
    font-weight: 500;
    align-content: center;
  }
  .logoHomeText {
    padding: 5px;
    padding-left: 0;
    color: #cadee5;
    font-size: 3em;
    font-weight: 500;
  }
}

#nav-ics {
  display: none;
}

.spacer {
  flex: 1;
}

nav {
  display: unset;
  position: unset;
  align-content: center;
  text-align: center;
  font-size: 1vw;
  a {
    font-family: "JosefinSans","Raleway";
    font-size: 2.5em;
    font-weight: 200;
    text-transform: lowercase;
  }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}


main {
  height: 82vh;
}