header {
    text-align: center;
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;;
    /*border: 1px solid red;*/
    /*display: block;*/
    display: flex;
}
.logoGroup {
    display: flex;
    padding: 15px;
    width: 100%;
    width: 96%;
    font-size: 100%;
    flex: 1;
    text-align: center;
    /* to show on drawer */
    position: relative;
    & .logo {
      width: 20vw;
      /*display: none;*/
    }
    & .logoTextLabel {
      background-color: #cadee5;
      background-color: #ffffff;
      color: #006182 !important;
      border-radius: 10px;
      padding: 5px;
      z-index: 101;
    }
    .logoText {
      font-family: "Comfortaa";
      font-size: 3em;
      font-weight: 500;
      color: #cadee5;
      display: none;
      display: unset;
    }
    .logoTextBig {
      font-size: 10em;
    }
    .logoTextOriginal {
      font-size: 15em;
    }
    .logoSeparator {
      font-family: "Comfortaa";
      font-weight: 500;
      color: #cadee5;
      font-size: 3em;
      padding: 5px;
      display: none;
      /*display: unset;*/
    }
    .logoHomeText {
      /*display: none;*/
      font-family: "Comfortaa";
      font-size: 3em;
      /*font-size: 2em;*/
      font-weight: 500;
      color: #cadee5;
      color: #ffffff;
      padding: 5px;
      padding-left: 0;
      flex-grow: 3;
      align-content: center;
    }
}

.spacer {
    flex: 0;
    display: none;
}

img.hamburger {
    filter: invert();
}
img.openBtn {
  filter: invert();
  height: 28px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
#nav-burger {
  /*border: 1px solid green;*/
  color: #ffffff;

  font-size: 6vh;
  font-size: 37px;
  font-size: clamp(37px , 6vh, 37px);
  font-size: 2.5em;
  padding: 6px;
  padding: 4vh;
  padding: 24px;
  padding: 12px;

  display: block !important;
  position: static;
  align-content: center;
}
#nav-ics {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  max-height: fit-content;
  max-width: fit-content;
  font-size: 8vw;
  font-size: clamp(6vw, 8vw, 50px);
  aspect-ratio: 1 / 1;
}

nav {
    background-color: #0062827c !important;
    background-color: rgba(0,98,130,0.9) !important;
    padding: 0px;
    ul,hr {
        display: none;
    }
    a {
        font-family: "Raleway";
        text-transform: lowercase;
        font-weight: bold;
        font-size: 2.5em;
    }
    a:hover,
    a:focus,
    a:active {
        background-color: #cadee5;
        color: #006182;
    }
}