html, body {
    margin: 0;
  }
  
body {
  background-color: #006182;
  font-family: sans-serif;
  font-weight: 300;
}

header {
  margin: 3% auto !important;
  margin: 3vh auto !important;
  margin: 4vh auto !important;
  text-align: center;
}

.logo {
  width: 20vw;
}

.openBtn {
  filter: invert();
  height: 28px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
