header {
    min-width: 320px;
}
.logoGroup {
    min-width: 320px;
    .logoText {
        /*display: unset;
        flex: 3;*/
    }
    .logoSeparator {
        display: none !important;
    }
    .logoHomeText {
        display: none;
    }
}
#burger-menu {
    
}