/* 320 - 480 Portrait */
@import url('style-mobile.css') screen and (max-width: 480px) and (orientation: portrait);
@import url('style-mobile-sml.css') screen and (max-width: 425px) and (orientation: portrait);
@import url('style-mobile-small.css') screen and (max-width: 320px) and (orientation: portrait);
@import url('style-mobile-medium.css') screen and (max-width: 375px) and (orientation: portrait);
@import url('style-mobile-large.css') screen and (max-width: 425px) and (orientation: portrait);
@import url('style-mobile-large.css') screen and (max-width: 468px) and (orientation: portrait);


/* 481 -600 Landscape */

@import url('style-mobile.css') screen and (max-width: 1023px) and (orientation: landscape);

/* 681 - 768 Portrait */
@import url('style-mobile.css') screen and (max-width: 1024px) and (orientation: portrait);

/* 769 - 1024 Landscape */
@import url('style-desktop.css') screen and (min-width: 1024px) and (orientation: landscape);

/* 1025 - 1280 / Laptop and Small Desktop */
/* 1281 - 1440 / Large desktop */
/* 1441+ /  Extra large desktop */

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway.ttf");
}
@font-face {
    font-family: "JosefinSans";
    src: url("../fonts/JosefinSans.ttf");
}

:root {
    --main-color: #006182;
    --main-dimmed-color: #054b62;
    --main-light-color: #096888;
    --main-lighten-color: #09769b;
    --fg-color: #cadee5;
    --fg-color-white: #ffffff;
    --fg-disabled: #82b1c1;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --main-color: #006182;
        --main-color: darkslategrey;
        --main-light-color: #006182;
        --main-color: #151515;
        --main-dimmed-color: #054b62;
        --main-light-color: #096888;
        --main-lighten-color: #09769b;
        --fg-color: #cadee5;
        /*--fg-color: #09769b;*/
        --fg-color-white: #ffffff;
        --fg-color-white: #bfbfbf;
        --fg-disabled: #82b1c1;
    }
    .logoGroup {
        .logoTextLabel {
            background-color: var(--main-light-color);
            color: var(--fg-color-white) !important;
        }
        .logoText,
        .logoSeparator,
        .logoHomeText {
            color: var(--main-light-color);
            color: var(--fg-color);
            font-weight: 900;
        }
    }
    nav,
    nav > ul > li {
        a {
            color: var(--main-lighten-color);
            color: var(--fg-color);
        }
    }
    .information {
        background-color: var(--main-dimmed-color) !important;
    }
    .project {
        .card {
            &:hover,
            .cardSelected {
                background-color: var(--main-lighten-color) !important;
            }
            .preview {
                background-color: var(--main-dimmed-color) !important;
                border-radius: 15px;
            }
        }
    }
    .contact {
        & h4 {
            color: var(--main-lighten-color);
            &::after {
                background-color: var(--main-lighten-color) !important;
            }
        }
    }
}

html, body {
    margin: 0;
}

body {

    background-color: var(--main-color);
    font-family: sans-serif;
    font-weight: 300;
}

header {
    
}
:focus-visible {
    outline: 2px solid var(--fg-color);
}

.previewLabel {
    position: fixed;
    top: 16px;
    left: -46px;
    width: 160px;
    padding: 5px;
    rotate: -35deg;
    background-color: rgb(130, 0, 0);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
