@import "../css/home-logo-experiment.css" screen;


header {
  margin: 4vh auto !important;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  text-align: center;
}

a.logoLink {
  display: flex;
  text-decoration: none;

    .logoGroup {
      padding: 15px;
      /*width: 40vw;*/
      display: flex;
      font-family: "Comfortaa";
      font-size: 1vw;
      .logoTextLabel {
        padding: 5px;
        border-radius: 10px;
        background-color: var(--fg-color);
        color: #006182 !important;
        align-content: center;
      }
      .logoText {
        color: var(--fg-color);
      font-size: 3em;
      font-weight: 500;
    }
    .logoSeparator {
      padding: 5px;
      color: var(--fg-color);
      font-size: 3em;
      font-weight: 500;
      align-content: center;
    }
    .logoHomeText {
      padding: 5px;
      padding-left: 0;
      color: var(--fg-color);
      font-size: 3em;
      font-weight: 500;
    }
  }
}

.spacer {
  flex: 1;
}

#nav-ics {
  display: none;
}

nav,
nav > ul > li {
  display: unset;
  position: unset;
  align-content: center;
  text-align: center;
  font-size: 1vw;
  ul {
    margin: 0;
    margin-left: -40px;
  }
  a {
    color: var(--fg-color);
    font-family: "JosefinSans","Raleway";
    font-size: 2.5em;
    font-weight: 200;
    text-transform: lowercase;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }
  a.disabled {
    color: var(--fg-disabled);
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
}

main {
  height: 82vh;
}