.portfolio {
    margin: 0 8vw 0 8vw;

    h3 {
        color:#cadee5;
        font-size: 2.0rem;
    }
    section.webdesign {
        
        item {
            margin: 10px;
            padding: 10px;
            max-height: 150px;
            min-width: 1150px;
            
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            
            border-radius: 20px;
            background-color: #054b62;
            color: #ffffff;
            font-family: 'Raleway';
            img {
                margin:-10px;
                padding: 13px;
                /*height: 100px;*/
                height: 3em;
                align-self: center;
                background-color: #cadee5;
                border-radius: 20px 0 0 20px;
            }
            div {
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 10px;
    
                display: flex;
                flex: auto;
                flex-basis: min-content;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
    
                line-height: 5vh;
                line-height: 40px;
                desc {
                    font-size: 1.5rem;
                    line-height: 26px;
                    display: unset;
                }
                a {
                    padding: 10px;
                    height: 1.5vw;
        
                    display: flex;
                    align-items: center;
                    align-self: end;
                    
                    border-radius: 10px;
                    background-color: #cadee5;
                    color: #006182;
                    
                    font-family: "JosefinSans", sans-serif;
                    font-size: 0.5em;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    
                    &:hover {
                        background-color: #cadee5;
                        /*display: none;*/
                    }
                }
            }
    
        }
        item:hover {
            a { display: flex; }
        }
        img:hover {
            /*transform: scale(5);*/
            transition: 1s linear all;
        }
        item:hover {
            /*border-color: #ffffff;*/
        }
    
        @media screen and (min-width: 1024px) and (orientation: landscape) {
    
        }
    }
}



img {height: 100px;}
span {
    display: block;
}